#img_flex{
    display: flex;
    margin-left: -12px;
}
#box_ind{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid transparent;
    width: 75%;
}
#img_flex>img{
    border: 1px solid silver;
    margin-left: 5px;
    height: 90px;
}
#box_img>img{
    border: 1px solid silver;
    height: 250px;
    width: 100%;
}
#a{
    display: flex;
    justify-content: space-between;
}
#cart_btn{
    width: 120px;
    height: 40px;
    background-color: #10847e;
    color: white;
    border-radius: 9px;
    border: 1px solid transparent;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}
#b{
    display: flex;
    justify-content: space-between;
}
#b>div:first-child{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #4f585e;
}
#b>s{
    font-family: sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #8897a2;
    margin-top: 4px;
}
#arrow{
    margin-left: 60px;
    margin-bottom: 27px;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #4f585e;
    font-weight: 400;
    margin-top: 30px;
}
#desc>p:first-child{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #4f585e;
    width: 70%;
}
#desc>p:nth-child(2){
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #10847e;
}
#c{
    font-family: sans-serif;
    font-weight: 400;
    line-height: 13px;
    font-size: 10px;
    color: #8897a2;
}
#d{
    font-family: sans-serif;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    color: #4f585e;
}
#d>span{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #4f585e;
}
#desc{
    width: 50%;
}
#cart_desc>p{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #4f585e;
}
#cart_desc>button{
    background-color: #959595;
    color: white;
    height: 40px;
    width: 100%;
    border: 0px solid transparent;
    border-radius: 14px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
#similarProducts_1{
    display: flex;
    width: 75%;
    justify-content: space-around;
    border: 1px solid transparent;
}
#similarProdImage{
    width: 100px;
    height: 100px;
    border: 1px solid silver;
    padding: 20px;
    border-radius: 10px;
}
#aa{
    width: 65%;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #4f585e;
    font-weight: 600;
}
#similarProducts_1_box{
    margin-left: 50px;
    margin-top: 50px;
}
#newBtn{
    background-color: white;
    color: #10847e;
    padding: 10px;
    border: 2px solid teal;
    border-radius: 9px;
    font-weight: 700;
    line-height: 20px;
    font-size: 16px;
}
#bb{
    font-family: sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #4f585e;
    font-weight: 400;
}
#cc{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #8897a2;
}
#dd{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #4f585e;
}
#sim{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #4f585e;
}
#fre{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #4f585e;
}
#similarProducts_2_box{
    margin-left: 50px;
    margin-top: 50px;
}
/* -------------------------------------------------------------------------------------------------- */
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css");
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);



.grid-section {
  height: auto;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .grid-section {
    width: auto;
  }
}
@media screen and (max-width: 853px) {
  .grid-section {
    width: 90%;
  }
}
@media screen and (max-width: 640px) {
  .grid-section {
    width: 100%;
  }
}
/* Blog Card */
.blog-card {
  width: calc(96.5% / 4);
  height: auto;
  background: #fff;
  display: inline-block;
  margin: 4px 2px;
  vertical-align: top;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}
.blog-card:hover {
  -webkit-box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.1);
}
.blog-card__image {
  width: 100%;
  height: 200px;
  margin: 0;
}
.blog-card__image img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
}
@media screen and (max-width: 1275px) {
  .blog-card {
    width: calc(95% / 4);
  }
}
@media screen and (max-width: 768px) {
  .blog-card {
    width: calc(96% / 3);
  }
}
@media screen and (max-width: 533px) {
  .blog-card {
    width: calc(96% / 2);
  }
}
@media screen and (max-width: 360px) {
  .blog-card {
    width: 98%;
  }
}
.blog-card__title {
width: auto;
    /* height: 40px; */
    font-family: 'open sans';
    font-size: 15px;
    text-align: center;
    margin: 10px 15px 10px 15px;
    color: grey;
	font-weight: 800;
}

.blog-card__title a{
text-decoration:none;

}
.blog-card__title:visited {
color:grey;

}



/* .blog-card hr {
width: 75%;
    border-top: 0.1px solid #ffce00;
    margin-top: 10px;
} */
.blog-card__details {
  width: 90%;
  height: 40px;
  position: relative;
  margin-top: 12px;
  bottom: 0;
  padding: 0 5px;
  display: block;
}
.blog-card__details--time, .blog-card__details--view, .blog-card__details--like {
  float: left;
  font-size: 0.75em;
  margin-top: 11px;
  color: #C0C0C0;
}
.blog-card__details--view {
  float: right;
}
.blog-card__details--like {
  float: right;
  margin-left: 9px;
}
.blog-card__details--like i:hover {
  color: #1382C1;
}

.blog-card__description {
margin: 15px 15px 25px 15px;
margin: 15px 15px 25px 15px;
    font-size: 13px;
    letter-spacing: 0.4;
    line-height: 1.7;
    color: grey;
    font-family: 'open sans';
}



/* <!-- slider style starts here --> */

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: auto;
  position: relative;
  margin: auto;
  margin-top: 50px;
  margin-left: -170px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: grey;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 0 0 0;
  margin: 0 10% 0 10%;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 0 0 0 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.blog-card__title{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #4f585e;
}
.blog-card__description{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #4f585e;
}
/* <!-- slider style starts here --> */
/* Flex box */
#flex_box{
  display: flex;
  width: 70%;
  /* margin: auto; */
  margin-left: 300px;
  margin-top: 80px;
}
#flex_box>div{
  width: 55%;
}
#flex_box>div>img{
  width: 50px;
  height: 50px;
}
#flex_box>div>img+p{
  font-family: sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #4f585e;
  font-weight: 700;
}
#flex_box>div>p:last-child{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8897a2;
  width: 55%;
}
/* Flex box */

/* Media Query */
@media all and (min-width:251px) and (max-width:450px){
  .products{
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(11,1fr);
 }
}
@media all and (min-width:30px) and (max-width:250px){
  .products{
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(16,1fr);
 }
}
