body{
    font-family: Open Sans,sans-serif;
    font-size: 16px;
    color: #4f585e;
}
body>h1,h3{
    margin-left: 10%;
}
#upper{
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
    
}

#left{
   
    width: 52%;
    background-color: #10847e;
    padding: 20px;
    border-radius: 10px;
    height: 150px;
}
#left>h3{
    color: white;
}
#head_tags{
    display: flex;
    justify-content: space-between;
    color: white;
}

#search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
    height: 50px;
}
#search>h3{
    color: #10847e;
    font-size: 18px;
    width: 150px;
    margin-left: 0px;
}
#search>h2{
    color: rgb(180, 176, 176);
}
#med_search{
    width: 60%;
    font-size: 15px;
    outline: none;
    border: none;
}
i{
    font-size: 20px;
    color: grey;
    margin-right: 10px;
}
#right{
  width: 40%;
}
#right>div:first-child{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 40px;
    display: flex;
    align-items: center;
}
#right>div:last-child{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
   
}
#call{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    background-color: #10847e;
    color: white;
    border-radius: 10px;
    height: 50px;
}
#call>i{
    color: white;
}
#image_slider{
    margin: auto;
    margin-top: 50px;
    width: 80%;
}
#image_slider>img{
    width: 100%;
    height: 350px;
}
#review{
margin: auto;
display: flex;
justify-content: space-between;
width: 80%;

}
#review>div{
 width: 30%;
}
span{
    font-weight: 700;
}
.article{
    font-size: 14px;
    background-color: rgb(236, 247, 236);
    padding: 20px;
}
#desc{
    width: 80%;
    margin: auto;
}
#order{
    width: 80%;
    margin: auto;
}
#query{
 
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
#query>div{
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
    padding: 10px;
}
#footer_container{
    margin-top: 50px;
    background-color: #EEF4FF;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
